{% extends "index.html" %}

{#inheriting from index.html#}

{#overwriting title of template#}
{% block title %}
    Edit Todo
{% endblock %}

{#overwriting content of template#}
{% block content %}
    <section class="bg-dark">
        <div class="bg-body-tertiary container p-5">
            <h2>To-Do bearbeiten</h2>
            <form method="POST" action="{{ url_for('todo.edit_todo', todo_id=todo.id) }}">
                <div class="form-group">
                    <label for="todoText">To-Do-Text</label>
                    <input type="text" class="form-control" id="todoText" name="todo-text" value="{{ todo.data }}" placeholder="Bearbeiten des To-Do Text">
                </div>
                <div class="form-group">
                    <label for="todoDeadline">Deadline</label>
                    <input type="date" class="form-control" id="todoDeadline" name="deadline" value="{{ todo.deadline }}" placeholder="26. April 2024">
                </div>
                <div class="form-group">
                    <label for="todoProgress">Fortschritt</label>
                    <input type="text" class="form-control" id="todoProgress" name="progress" value="{{ todo.progress }}" placeholder="0%">
                </div>
                <button type="submit" class="btn btn-primary my-3">Aktualisieren</button>
            </form>
        </div>
    </section>
{% endblock %}
