{% extends "index.html" %}
{% block title %}
	New Todo
{% endblock %}
{% block content %}
    <section class="bg-dark">

        <div class="bg-body-tertiary container p-5">
            <h2>Neues To-Do erstellen</h2>
            <form method="POST">
                <div class="form-group">
                    <label for="todoText">To-Do-Text</label>
                    <input type="text" class="form-control" id="todoText" placeholder="Beispielseite mit dem Bootstrap Framework anlegen">
                </div>
                <div class="form-group">
                    <label for="todoDeadline">Deadline</label>
                    <input type="date" class="form-control" id="todoDeadline" placeholder="26. April 2024">
                </div>
                <div class="form-group">
                    <label for="todoProgress">Fortschritt</label>
                    <input type="text" class="form-control" id="todoProgress" placeholder="0%">
                </div>
                <button type="submit" class="btn btn-primary my-3">Erstellen</button>
            </form>
        </div>
    </section>
{% endblock %}