{% extends "index.html" %}
{% block title %}
	New Todo
{% endblock %}
{% block content %}
    <section class="bg-dark">

        <div class="bg-body-tertiary container p-5">
            <h2>Neues To-Do erstellen</h2>
            <form method="POST">

                <div class="form-group">
                    <label for="todo-text">To-Do-Text</label>
                    <input type="text" class="form-control" id="todo-text" name="todo-text" placeholder="Beispielseite mit dem Bootstrap Framework anlegen">
                </div>

                <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input type="date" class="form-control" name="deadline" id="deadline" placeholder="26. April 2024">
                </div>

                <div class="form-group">
                    <label for="progress">Fortschritt</label>
                    <input type="number" class="form-control" name="progress" id="progress" min="0" max="100" placeholder="0%">
                </div>

                <button type="submit" class="btn btn-primary my-3">Erstellen</button>
            </form>
        </div>
    </section>
{% endblock %}